name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.0
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: GDPR
          root_file: GDPR.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v5
        with: 
          name: GDPR
          path: GDPR/GDPR.pdf
